<header>
  <div class="name-logo-container d-flex flex-row align-items-center justify-content-around">
    <!-- Nombre de la aplicación -->
    <span class="app-name text-white">Table </span><span class="app-name app-text-orange">Top</span>

    <!-- Logo -->
    <div class="logo">
      <img src="assets/Logo_TableTop.png" alt="Logo de Table Top">
    </div>

    <!-- Info usuario conectado -->
     <!-- Quitar la ! para que se muestre al logearse -->
    <div class="user-info" *ngIf="!isLoggedIn"> 
      <i class="fas fa-user"></i>
      <span>Conectado como: <strong>{{ currentUser }}</strong></span>
    </div>
  </div>

  <div class="nav-buttons">
    <!-- Navbar para usuarios logueados -->
    <nav *ngIf="isLoggedIn">
      <button routerLink="/dashboard">Dashboard</button>
      <button routerLink="/eventos">Eventos</button>
      <button class="login-button"routerLink="/eventos">Volver a Eventos</button>
      <button routerLink="/create-event" class="create-event-btn">
        <i class="fas fa-plus"></i> Crear Evento
      </button>
      <button class="login-button" (click)="logout()">Cerrar Sesión</button>
    </nav>

    <!-- Botón para usuarios no logueados -->
    <div *ngIf="!isLoggedIn"> 
      <!-- Quitar el buttton Crear Evento y Volver a Eventos cuando consigamos la conexion -->
      <button class="login-button"routerLink="/eventos">Volver a Eventos</button>
      <button routerLink="/create-event" class="create-event-btn"> 
        <i class="fas fa-plus"></i> Crear Evento
      </button>
      <button class="login-button" (click)="redirectToLogin()">Login</button>
      
    </div>
  </div>
</header>