header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2F3136;
  border-bottom: 1px solid #ddd;
}

.logo img {
  /* Ajusta el tamaño del logo */
  height: 50px;
  margin-left: 15px;
}

.app-name {
  margin-left: 10px;
  font-size: 35px;
}

.custom-button {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

nav button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #0056b3;
}